nav {
  font-family: "Inter", sans-serif;
  min-height: 12vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 9rem 0rem 9rem;
  background-color: #282828;

  h1 {
    color: white;
    font-size: 0.9rem;
    width: 30%;
  }

  ul {
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: flex-end;

    li {
      padding-left: 5rem;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 400px) {
  nav {
    padding: 0rem 1rem 0rem 1rem;

    ul {
      li {
        padding-left: 1.4rem;
      }
    }
  }
}
